/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

/* IBM font provided by
https://int10h.org/oldschool-pc-fonts*/
@font-face {
    font-family: 'IBM-VGA8';
    src: url('../fonts/Px437_IBM_VGA8.ttf')
}

/* Set Fonts */
html {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Audiowide', cursive;
}

header .logo {
    font-family: 'Audiowide', cursive;
}

.productsec h1, .productsec h2, .productsec h4 {
    font-family: 'Roboto', sans-serif;
}

.errorcode {
    font-family: 'IBM-VGA8', sans-serif;
    text-align: center;
    font-weight: lighter;
}