/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

@font-face {
    font-family: 'IBM-VGA8';
    src: url('../fonts/Px437_IBM_VGA8.ttf')
}

/* Set Fonts */
html {
    font-family: 'Roboto', sans-serif;
}

header .logo {
    /* font-family: 'Orbitron', sans-serif; */
    font-family: 'Audiowide', cursive;
}